<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>i3wm-osx</string>
    <key>CFBundleIdentifier</key>
    <string>org.piechowski.i3wm-osx</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>i3wm-osx</string>
    <key>CFBundleDisplayName</key>
    <string>i3wm-osx</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.1</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSBackgroundOnly</key>
    <false/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>i3wm-osx needs Apple Events to launch applications and run commands defined in your i3 config.</string>
    <key>NSAccessibilityUsageDescription</key>
    <string>i3wm-osx needs Accessibility access to move and resize windows like i3wm.</string>
</dict>
</plist>
